.tasks {
    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64c4ed;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;

        &:hover {
            img {
                opacity: 0.2;
            }
        }

        img {
            opacity: 0;
            cursor: pointer;
            margin-left: 15px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &:not(:last-of-type) {
        margin-bottom: 40px;
    }

    &__form {
        &-new {
            display: flex;
            align-items: center;
            margin-top: 10px;
            cursor: pointer;
            opacity: .4;
            transition: opacity .15s ease-in-out;

            &:hover {
                opacity: .8;
            }
        }

        .button {
            margin-left: 10px;
            margin-top: 15px;
        }

        img {
            width: 16px;
            height: 16px;
            margin-left: 4px;
        }

        span {
            margin-left: 19px;
            font-size: 16px;
        }
    }


    &__items {
        margin-top: 30px;

        h2 {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 22px;
            color: #c9d1c3;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &-row {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            &:hover &-actions {
                opacity: 1;
            }

            &-actions {
                display: flex;
                opacity: 0;
                transition: opacity .15s ease-in-out;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    background-color: lighten(#f4f6f8, 2%);
                    border-radius: 6px;
                    margin-left: 5px;
                    cursor: pointer;
                }

                &:hover {
                    background-color: darken(#f4f6f8, 2%);
                    svg {
                        opacity: .9;
                    }
                }

                svg {
                    width: 11px;
                    height: 11px;
                    opacity: .4;
                }
            }

            

            input {
                margin-left: 15px;
                border: 0;
                // font-size: 16px;
                width: 100%;
            }
        }
    }

    .checkbox {
        input {
            display: none;
        }

        svg {
            transition: opacity .15s ease-in-out;
            path {
                stroke: #f2f2f2;
            }
        }

        &:hover {
            label {
                background-color: #f2f2f2;
                border-color: #f2f2f2;
                svg {
                    opacity: 1;
                    path { 
                        stroke: #b2b2b2;
                    }
                }
            }
        }

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border: 2px solid #e8e8e8;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color .15s ease-in-out,
                border-color .15s ease-in-out;

            svg {
                opacity: 0;
            }
        }

        input:checked + label {
            background: #4dd599;
            border-color: #4dd599;
            
            svg {
                opacity: 1;
                path {
                    stroke: #fff;
                }
            }
        }
    }
}
