* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Roboto", -apple-system, system-ui, sans-serif;
}

.todo {
    display: flex;
    height: 530px;
    width: 850px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 1px 11px #c1c1c1;
    transform: translate(-50%, -50%);
    font-size: 14px;

    &__sidebar {
        padding: 60px 50px;
        background-color: #f4f6f8;
        height: calc(100% - 120px);
        width: 200px;
        border-right: 1px solid #f1f1f1;
    }

    &__tasks {
        flex: 1;
        padding: 60px;
    }
}

.button {
    background: #4dd599;
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    color: #efff;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background: darken(#4dd599, 6%);
    }
    &:active {
        background: darken(#4dd599, 10%);
    }

    &:disabled {
        background: #d8d8d8;
        color: #444;
    }

    &--grey {
        background: #f4f6f8;
        color: #444444;

        &:hover {
            background: darken(#f4f6f8, 3%);
        }   
        &:active {
            background: darken(#f4f6f8, 6%);
        }
    }
}

.field {
    background: #ffffff;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 12px;
    width: 100%;
    font-size: 14px;

    &:focus {
        border-color: #c5c5c5;
    }
}
